<div *ngIf="errorMessage != null" class="alert alert-danger" color="#ff0000"> {{ errorMessage }} </div>

<mat-card class="welcome-card">
  <mat-card-header class="welcome-card-header-main">
    <div mat-card-avatar class="welcome-header-image-main"></div>
  </mat-card-header>
  <mat-card-content>
    <div class="welcome-card-content-main-titles">
      <h3 l10nTranslate>pageWelcome</h3>
      <div l10nTranslate>pageWelcomeAbout</div>
    </div>
  </mat-card-content>
</mat-card>
<br/>

<mat-card class="main-card-number">
  <mat-card-content>
    <div class="main-card-number-table">
      <div class="main-card-number-table-cell">
        <small>Quests Count</small><br>
        {{ statisticsCountQuests }}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card-number">
  <mat-card-content>
    <div class="main-card-number-table">
      <div class="main-card-number-table-cell">
        <small>Quests Attempts</small><br>
        {{ statisticsAllAttempts }}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card-number">
  <mat-card-content>
    <div class="main-card-number-table">
      <div class="main-card-number-table-cell">
        <small>Quests Solved</small><br>
        {{ statisticsAlreadySolved }}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card-number">
  <mat-card-content>
    <div class="main-card-number-table">
      <div class="main-card-number-table-cell">
        <small>Users Online</small><br>
        {{ statisticsUsersOnline }}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card-number">
  <mat-card-content>
    <div class="main-card-number-table">
      <div class="main-card-number-table-cell">
        <small>Files Count</small><br>
        {{ statisticsFilesCount }}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card-number">
  <mat-card-content>
    <div class="main-card-number-table">
      <div class="main-card-number-table-cell">
        <small>Files Size</small><br>
        {{ statisticsFilesHumanSize }}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="main-card-number">
  <mat-card-content>
    <div class="main-card-number-table">
      <div class="main-card-number-table-cell">
        <small>Files Downloads</small><br>
        {{ statisticsFilesDownloads }}
      </div>
    </div>
  </mat-card-content>
</mat-card>

<br/>

<mat-card class="welcome-card">
  <mat-card-header>
    <div mat-card-avatar class="welcome-header-image"></div>
    Playing with us
  </mat-card-header>
  <mat-card-content>
    <br><br>
    <div class="d-inline-block" *ngFor="let c of cities">
      | {{ c.city }} ( {{ c.cnt }}) |
    </div>
    <a class="btn btn-info" routerLink="/map-activity">On Map</a>
  </mat-card-content>
</mat-card>
<br/>

<mat-card class="welcome-card">
  <mat-card-header>
    <div mat-card-avatar class="welcome-header-image"></div>
    Top 10
  </mat-card-header>
  <mat-card-content>
    <br><br>
    <div *ngFor="let w of winners">
      <div class="welcome-item-devider"></div>
      <div class="welcome-list-item">
        <strong>{{ w.place }}</strong>
        [{{ w.rating }} points]
        <strong>{{ w.university != '' ? '[' + w.university + ']' : '' }} {{ w.nick }}</strong>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br/>

<app-block-contact-us></app-block-contact-us>
