<br>
<mat-card>
    <label l10nTranslate>contactUs</label>:<br>
    
    <a target="_blank" mat-raised-button class="block-contact-us"
        href="https://twitter.com/freehackquest/">
        Twitter
    </a>
    <a target="_blank" mat-raised-button class="block-contact-us"
        href="https://telegram.me/freehackquest">
        Telegram chat
    </a>
    <a target="_blank" mat-raised-button class="block-contact-us"
        href="https://vk.com/freehackquest">
        VKontakte
    </a>
    <a target="_blank" mat-raised-button class="block-contact-us"
        href="https://www.youtube.com/channel/UCS0nOltkP5YXxWggoNVE3Gw/videos?view_as=subscriber">
        Youtube Channel
    </a>
    <a mat-raised-button class="block-contact-us"
        href="mailto:freehackquest@gmail.com">
        freehackquest@gmail.com
    </a>
    <hr>
    <label l10nTranslate>helpToThisProject</label>: <br>
    <button mat-raised-button  class="block-contact-us" (click)="openDonatePage()" l10nTranslate>
        pageDonate
    </button>
</mat-card>
<br>