<br>
<mat-card>
    <label l10nTranslate>contactUs</label>:<br>
    <a target="_blank" mat-raised-button class="block-contact-us"
        href="https://telegram.me/freehackquest">
        Telegram chat
    </a>
    <a target="_blank" mat-raised-button class="block-contact-us"
        href="https://vk.com/freehackquest">
        VKontakte
    </a>
    <a mat-raised-button class="block-contact-us"
        href="mailto:freehackquest@gmail.com">
        freehackquest@gmail.com
    </a>
</mat-card>
<br>