<mat-card class="welcome-card">
  <mat-card-header class="welcome-card-header-main">
    <div mat-card-avatar class="welcome-header-image-main"></div>
  </mat-card-header>
  <mat-card-content>
    <div class="welcome-card-content-main-titles">
      <h3 l10nTranslate>pageWelcome</h3>
      <div l10nTranslate>pageWelcomeAbout</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/quests" l10nTranslate>quests</button>
      <div class="welcome-description" l10nTranslate>pageWelcomeQuestsDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/quest-proposal" l10nTranslate>proposalQuest</button>
      <div class="welcome-description" l10nTranslate>pageWelcomeProposalQuestDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/chat" l10nTranslate>chatPage</button>
      <div class="welcome-description" l10nTranslate>welcomeWeHaveAPublicChat</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/events" l10nTranslate>events</button>
      <div class="welcome-description" l10nTranslate>welcomeAllEventsOutputHere</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/feedback" l10nTranslate>newFeedback</button>
      <div class="welcome-description" l10nTranslate>welcomeFeedbackDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/donate" l10nTranslate>pageDonate</button>
      <div class="welcome-description" l10nTranslate>welcomeHelpToProject</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/automation-ussr" l10nTranslate>automationUssr</button>
      <div class="welcome-description" l10nTranslate>welcomeAutomationUssrDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/knowledge-base" l10nTranslate>knowledgeBase</button>
      <div class="welcome-description" l10nTranslate>welcomeKnowledgeBaseDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" routerLink="/useful-links" l10nTranslate>usefulLinks</a>
      <div class="welcome-description" l10nTranslate>welcomeUsefulLinksDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" routerLink="/about" l10nTranslate>pageAbout</a>
      <div class="welcome-description" l10nTranslate></div>
    </div>
  </mat-card-content>
</mat-card>
<br/><br/>
