<mat-card class="welcome-card">
  <mat-card-header class="welcome-card-header-main">
    <div mat-card-avatar class="welcome-header-image-main"></div>
  </mat-card-header>
  <mat-card-content>
    <div class="welcome-card-content-main-titles">
      <h3 l10nTranslate>pageWelcome</h3>
      <div l10nTranslate>pageWelcomeAbout</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/quests" l10nTranslate>quests</button>
      <div class="welcome-description" l10nTranslate>pageWelcomeQuestsDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/quest-proposal" l10nTranslate>proposalQuest</button>
      <div class="welcome-description" l10nTranslate>pageWelcomeProposalQuestDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/chat" l10nTranslate>chatPage</button>
      <div class="welcome-description" l10nTranslate>welcomeWeHaveAPublicChat</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/news" l10nTranslate>news</button>
      <div class="welcome-description" l10nTranslate>welcomeAllEventsOutputHere</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/feedback" l10nTranslate>newFeedback</button>
      <div class="welcome-description" l10nTranslate>welcomeFeedbackDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/donate" l10nTranslate>pageDonate</button>
      <div class="welcome-description" l10nTranslate>welcomeHelpToProject</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/automation-ussr" l10nTranslate>automationUssr</button>
      <div class="welcome-description" l10nTranslate>welcomeAutomationUssrDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <button mat-stroked-button color="primary" routerLink="/knowledge-base" l10nTranslate>knowledgeBase</button>
      <div class="welcome-description" l10nTranslate>welcomeKnowledgeBaseDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" routerLink="/useful-links" l10nTranslate>usefulLinks</a>
      <div class="welcome-description" l10nTranslate>welcomeUsefulLinksDescription</div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" routerLink="/about" l10nTranslate>pageAbout</a>
      <div class="welcome-description" l10nTranslate></div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" target="_blank" href="https://github.com/freehackquest/fhq-server">GitHub</a>
      <div class="welcome-description" l10nTranslate></div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" target="_blank" href="https://hub.docker.com/r/sea5kg/fhq-server">Docker Hub</a>
      <div class="welcome-description" l10nTranslate></div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" target="_blank" href="https://vk.com/freehackquest">VKontakte</a>
      <div class="welcome-description" l10nTranslate></div>
    </div>
    <div class="welcome-item-devider"></div>
    <div class="welcome-list-item">
      <a mat-stroked-button color="primary" target="_blank" href="https://telegram.me/freehackquest">Telegram</a>
      <div class="welcome-description" l10nTranslate></div>
    </div>
  </mat-card-content>
</mat-card>

<br/><br/>

<mat-card class="welcome-card">
  <mat-card-header>
    <div mat-card-avatar class="welcome-header-image"></div>
    <mat-card-title l10nTranslate>thanksFor</mat-card-title>
    <mat-card-subtitle l10nTranslate>thanksForDescription</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <a href="http://www.chartjs.org/docs/" target="_blank">Charts.js</a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Sergey Belov (found xss!)
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Igor Polyakov
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Maxim Samoilov (Nitive)
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Dmitrii Mukovkin
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Team Keva
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Alexey Gulyaev
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Alexander Menschikov
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Ilya Bokov
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Extrim Code
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Sergey Ushev
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Danil Dudkin
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<br/><br/>


<!--
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  -->