# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion additions
.idea/*
cmake-build-debug/*

Makefile
tmp/*
tmpdeb/*
conf.ini
freehackquest-backend

var/log/freehackquest-backend/errors/*
!var/log/freehackquest-backend/errors/.placeholder
!usr/share/doc/freehackquest-backend
!etc/init.d/freehackquest-backend
!etc/freehackquest-backend/conf.ini.example


*.deb
lintian.log
freehackquest-backend.pro.user
/html/*
/latex/*

.qmake.stash
.DS_Store
fhq-server/build
fhq-server/fhq-server
fhq-server/debian/files
