dckr_mysql/*
data_travis/logs/*.log
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion additions
.idea/*
cmake-build-debug/*

Makefile
tmp/*
tmpdeb/*
conf.ini
cmake-build-debug/
freehackquest-backend

var/log/freehackquest-backend/errors/*
!var/log/freehackquest-backend/errors/.placeholder
!usr/share/doc/freehackquest-backend
!etc/init.d/freehackquest-backend
!etc/freehackquest-backend/conf.ini.example


*.deb
lintian.log
freehackquest-backend.pro.user
/html/*
/latex/*

.qmake.stash
.DS_Store
fhq-server/build
fhq-server/builds
fhq-server/fhq-server
fhq-server/debian/files
fhq-server/fhq-server.pro.user
fhq-server/tmp/*
tmpdeb
install/DOXYGEN/html/*
CMakeLists.txt.user
.vscode
fhq-server/libfreehackquest-client-py
fhq-server/libfhqcli-web-js
fhq-server/libfhqcli-java-android
tests/libfhqcli.py
tests/libfhqcli/*

fhq-server-build/
tests/get-pip.py
fhq-server/fhq-server.debian95
.idea
