dckr_mysql/*
/build
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion additions
.idea/*
cmake-build-debug/*

Makefile
tmp/*
tmpdeb/*
conf.ini
cmake-build-debug/
freehackquest-backend

var/log/freehackquest-backend/errors/*
!var/log/freehackquest-backend/errors/.placeholder
!usr/share/doc/freehackquest-backend
!etc/init.d/freehackquest-backend
!etc/freehackquest-backend/conf.ini.example


*.deb
lintian.log
freehackquest-backend.pro.user
/html/*
/latex/*
/ci/travis/data/file_storage/db/*

.qmake.stash
.DS_Store
fhq-server/build
fhq-server/builds
fhq-server/fhq-server
fhq-server/debian/files
fhq-server/fhq-server.pro.user
fhq-server/tmp/*
tmpdeb
install/DOXYGEN/html/*
CMakeLists.txt.user
freehackquest-libclient-py
freehackquest_libclient_py
freehackquest-libclient-web-js
fhq-server/libfhqcli-web-js
fhq-server/libfhqcli-java-android
tests/libfhqcli.py
tests/libfhqcli/*
post.py
fhq-server-build/
tests/get-pip.py
fhq-server/fhq-server.debian95
.idea
/data
/backups
/docker_test
.wsjcpp
fhq-server

contrib/docker_compose_example/logs/*.log
contrib/docker_compose_example/data/logs/*.log
contrib/docker_compose_example/mysql_data
contrib/docker_compose_example/nginx/logs/*.log

TODO
12.webp
__pycache__
/tmp
node_modules
web-user/.angular
