# skip files
skip_files = src\.wsjcpp/.*
skip_files = tmp/.*
skip_files = unit-tests\.wsjcpp/.*
skip_files = cmake/.*
skip_files = src/3rdParty/.*
skip_files = tmp_docker/.*
skip_files = tests/searver-api-tests/tmp_docker/.*
skip_files = tests/code-check/.*

line_length_limit = 300
check_copyright_in_files = no