<h1 l10nTranslate>usefulLinks</h1>

Что то добавить или исправить то pull request сюда:
<br/>
<a href="https://github.com/freehackquest/frontend/tree/master/src/app/useful-links/useful-links.component.ts">
  https://github.com/freehackquest/frontend/tree/master/src/app/useful-links/useful-links.component.ts
</a>
<br/>
<br/>
Большая часть ссылок спирована из этих мест:
<ul>
  <li><a href="https://2ch.pm/wrk/arch/2018-03-05/res/1065136.html">https://2ch.pm/wrk/arch/2018-03-05/res/1065136.html</a></li>
  <li><a href="https://ru.similarsites.com/site/hackerdom.ru">https://ru.similarsites.com/site/hackerdom.ru</a></li>
  <li><a href="http://captf.com/practice-ctf/">http://captf.com/practice-ctf/</a></li>
</ul>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Link</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let l of dataList;">
        <td><a target="_blank" href="{{ l.link }}">{{ l.link }}</a></td>
        <td>{{ l.description }}</td>
      </tr>
  </tbody>
</table>




