<h1 l10nTranslate>usefulLinks</h1>

<mat-chip-list>
  <mat-chip 
    *ngFor="let tag of tagList" 
    (click)="applyFilterByTag(tag.name)"
    [selected]="tag.name == filterByTag"
  >
    {{ tag.name }} ({{ tag.counter }})
  </mat-chip>
</mat-chip-list>

<mat-form-field class="usefullinks-search-form-field">
  <input
    matInput
    type="text"
    placeholder="Search"
    [(ngModel)]="searchValue"
    [formControl]="searchControl"
    [value]="searchValue"
  >
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-paginator #paginator
  class="usefullinks-paginator-field"
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = getServerData($event)"
>
</mat-paginator>

<mat-drawer-container class="useful-links-container">
  <mat-drawer #drawer mode="side">
    <app-user-profile-menu></app-user-profile-menu>
  </mat-drawer>
  <mat-drawer-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 useful-links-table">
      <ng-container matColumnDef="usefulLinkData">
        <th mat-header-cell *matHeaderCellDef l10nTranslate>usefulLinks</th>
        <td mat-cell *matCellDef="let element">
          <small>[usefullink#{{ element.id }}]</small> <br>
          <button mat-stroked-button disabled *ngIf="element.userClicks > 0">
            <mat-icon aria-hidden="false">mouse</mat-icon>
            {{ element.userClicksLabel }}
          </button>

          <a 
            mat-raised-button 
            class="useful-links-left-btn"
            color="accent" 
            href="{{ element.link }}" 
            (mousedown)="linkClicked(element.id)" 
            target="_blank"
          >{{ element.link }}</a> 

          <button mat-stroked-button class="useful-links-left-btn" *ngIf="!element.favorite && _fhq.isAuthorized" (click)="addToFavorite(element.id)">
            <mat-icon aria-hidden="false">star</mat-icon>
            Favorite ({{ element.userFavorites }})
          </button>
          <button mat-stroked-button class="useful-links-left-btn" *ngIf="element.favorite && _fhq.isAuthorized" (click)="removeFromFavorite(element.id)">
            <mat-icon aria-hidden="false">star_outline</mat-icon>
            Unfavorite ({{ element.userFavorites }})
          </button>
          <br><br>
          <strong>{{element.description}}</strong><br>
          <div *ngIf="element.tags.length > 0"> 
            <mat-chip-list>
              <mat-chip 
                *ngFor="let tag of element.tags;" 
                (click)="applyFilterByTag(tag)"
                [selected]="tag == filterByTag"
              >
                {{ tag }}
              </mat-chip>
            </mat-chip-list>
          </div>
          <!-- hr/>
          <button mat-stroked-button>
            <mat-icon aria-hidden="false">comment</mat-icon>
            Comments (0)
          </button -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>

<br/>
<br/>
<br/>






