html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-weight: 400;
	margin: 0px;
	background-color: #041119;
	background-image: url("images/background.png");
	background-position: center;
	background-repeat: repeat;
	background-size: 100% 100%;
	color: #3c8dbc;
	position: absolute;
	top: 0px;
}

.content-wrapper {
  min-height: 100%;
  z-index: 800;
}
.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}


.fixed .content-wrapper,
.fixed .right-side {
  padding-top: 50px;
}

.fixed.layout-boxed .wrapper {
  max-width: 100%;
}
.fixed .wrapper {
  overflow: hidden;
}
.hold-transition .content-wrapper,
.hold-transition .right-side,
.hold-transition .main-footer,
.hold-transition .main-sidebar,
.hold-transition .left-side
{
  /* Fix for IE */
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 130px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar {
  padding-bottom: 10px;
}
.sidebar-form input:focus {
  border-color: transparent;
}

/* Content */
.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* General Links */
a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}
/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}
.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}


/*
 * fhq-admin
 * */
 
.content-wrapper {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 130px;
  z-index: 820;
  margin-top: 70px;
}


.form-control {
	background-color: #041119;
	-webkit-box-shadow: inset 0 0 0 50px #041119;
    -webkit-text-fill-color: #3c8dbc;
    border: 1px solid #000;
}

.form-control:focus {
    color: #495057;
    background-color: #041119;
    outline: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #041119 !important;
    background-image: none;
    color: rgb(0, 0, 0);
}
	

.fhq-page-loader{
	display: block;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
}

.fhq-page-loader-tbl{
	display: table;
	width: 100%;
    height: 100%;
}

.fhq-page-loader-cell{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100%;
    height: 100%;
    opacity: 0.7;
	background-size: cover;
    background-image: url(images/free-gif-preloaders-psds-09.gif);
    background-position: center;
}

.page-item{
	cursor: pointer;
}

.page-link{
	box-shadow: 0 0 10px rgba(60,141,188,0.5);
	background-color: rgba(60,141,188,0.1);
    border: none;
    color: #3c8dbc;
}

.page-item.active .page-link{
	background-color: rgba(60,141,188,0.5);
	transform: scale(1.3);
	color: #3c8dbc;
}

.page-item.disabled .page-link{
	background-color: rgba(60,141,188,0.1);
	border: none;
}

.page-link:focus, .page-link:hover {
    background-color: rgba(60,141,188,0.2);
    transform: scale(1.1);
    text-decoration: none;
}

.table td, .table th {
    border-top: none;
    box-shadow: 0 0 10px rgba(60,141,188,0.5);
}

.table > thead > tr > th {
    border-top: none;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none;
}

.modal-content {
	background-color: rgba(60,141,188,0.4);
	box-shadow: 0 0 10px rgba(60,141,188,0.5);
}

.close{
	color: #3c8dbc;
}

.btn-secondary, .btn-primary{
	border: none !important;
	color: #3c8dbc !important;
	background-color: rgba(60,141,188,0.3) !important;
	box-shadow: 0 0 10px rgba(60,141,188,0.5) !important;
	cursor: pointer;
}

.btn-secondary:hover, .btn-primary:hover {
    border: none !important;
    color: #3c8dbc !important;
    background-color: rgba(60,141,188,0.5) !important;
	box-shadow: 0 0 10px rgba(60,141,188,0.5) !important;
	transform: scale(1.1);
}

pre {
	color: inherit !important;
}

.card{
	background-color: rgba(60,141,188,0.1);
	box-shadow: 0 0 10px rgba(60,141,188,0.5) !important;
}

.alert-danger{
	background-color: rgba(60,141,188,0.1);
	box-shadow: 0 0 10px rgba(60,141,188,0.5) !important;
	color: #3c8dbc !important;
	border: none !important;
}

.menu-panel{
    position: fixed;
    background-image: url("images/background.png");
    box-shadow: 0 0 10px rgba(60,141,188,.5);
    background-color: rgba(60,141,188,.1);
	top: 115px;
    left: 0;
    min-height: 100%;
    width: 70px;
    z-index: 810;
}

.menu-logo {
	height: 110px;
    width: 110px;
    margin: 0px;
    padding: 10px;
    position: fixed;
    top: 0;
    border: none;
	color: #3c8dbc;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(60,141,188,.5);
    background-color: rgba(60,141,188,.1);
    border-bottom-right-radius: 25px;
    background-image: url("images/background.png");
    z-index: 1000;
    .menu-logo2 {
		background-image: url("images/fhq_2018_admin.png");
		background-size: 100% 100%;
		background-position: center center;
		z-index: 1001;
		width: 100%;
		height: 100%;
	}
}

#page_name{
	background-image: url("images/background.png");
	box-shadow: 0 0 10px rgba(60,141,188,.5);
    background-color: rgba(60,141,188,.1);
	position: fixed;
    left: 115px;
    top: 0;
	width: calc(100% - 115px);
    height: 70px;
    padding-left: 50px;
    
    
    z-index: 1000;
}

#page_name .header-name{
	display: inline-block;
	font-size: 50px;
	line-height: 70px;
}

#page_name .header-btn{
	display: inline-block;
	border: none !important;
    color: #3c8dbc !important;
    cursor: pointer;
    float: left;
	height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    box-shadow: 0 0 10px rgba(60, 141, 188, 0.5) !important;
}

#page_name .header-btn:hover{
	transform: scale(1.1);
	background-color: rgba(60, 141, 188, 0.3) !important;
}


.tbl-action-btn{
	display: inline-block;
	border: none !important;
    color: #3c8dbc !important;
    cursor: pointer;
    float: left;
	height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 10px;
    text-align: center;
	font-size: 18px;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(60, 141, 188, 0.5) !important;
}

.tbl-action-btn:hover{
	transform: scale(1.1);
	background-color: rgba(60, 141, 188, 0.3) !important;
}

.menu-itm{
	display: block;
	border-radius: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    padding: 0px;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, all 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, all 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, all 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, all 0.3s ease-in-out;
}

.menu-itm-short-name{
	display: inline-block;
	line-height: 50px;
}

.menu-itm-full-name{
	display: none;
	transform: translate(-200px);
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease-in-out, left 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, left 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, left 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
	box-shadow: 0 0 10px rgba(60,141,188,.5);
    background-color: rgba(60,141,188,.3);
	border-radius: 50px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    margin-left: 40px;
    margin-top: -10px;
    text-align: center;
    background-image: url("images/background.png");
    font-weight: bold;
}

.menu-itm-full-name div{
	display: table-cell;
	vertical-align: middle;
    line-height: initial;
}

.menu-itm:hover {
	line-height: 50px;
	margin-bottom: 40px;
}

.menu-itm:hover .menu-itm-short-name{
	display: none;
}

.menu-itm:hover .menu-itm-full-name{
	display: inline-table;
	transform: translate(0px);
	box-shadow: 0 0 10px rgba(60,141,188,.5);
    background-color: rgba(60,141,188,.3);
    
}
