html, body {
	height: 100%;
	width: 100%;
}


.fhq-page-loader{
	display: block;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
}

.page-item{
	cursor: pointer;
}

pre {
	color: inherit !important;
}

.quest-menu-btn {
    cursor: pointer;
}

