[DATABASE]
usemysql=yes
host=localhost
name=freehackquest
user=freehackquest_u
password=freehackquest_password_database

[SERVER]
port = 1234;
ssl_on = false
ssl_port = 4613;
ssl_key_file = /etc/ssl/private/localhost.key
ssl_cert_file = /etc/ssl/certs/localhost.pem
