<br>
<div class="card">
    <div class="card-body">
        <label l10nTranslate>contactUs</label>: 
        <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.d753e00c3e838c1b2558149bd3f6ecb8.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=freehackquest&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1559845644982" style="position: static; visibility: visible; width: 147px; height: 20px;" data-screen-name="freehackquest"></iframe> | 
        <label><a href="https://telegram.me/freehackquest">Telegram chat</a></label> | 
        <a href="https://www.youtube.com/channel/UCS0nOltkP5YXxWggoNVE3Gw/videos?view_as=subscriber">Youtube Channel</a> |
        <a href="mailto:freehackquest@gmail.com">freehackquest@gmail.com</a>
        <br>
        <label l10nTranslate>helpToThisProject</label>: <div class="btn btn-link" (click)="openDonatePage()" l10nTranslate>pageDonate</div>

    </div>
</div>
<br>