<br>
<div class="card">
    <div class="card-body">
        <label l10nTranslate>contactUs</label>: 
        <a href="https://twitter.com/freehackquest/">Twitter</a> |
        <label><a href="https://telegram.me/freehackquest">Telegram chat</a></label> | 
        <a href="https://www.youtube.com/channel/UCS0nOltkP5YXxWggoNVE3Gw/videos?view_as=subscriber">Youtube Channel</a> |
        <a href="mailto:freehackquest@gmail.com">freehackquest@gmail.com</a>
        <br>
        <label l10nTranslate>helpToThisProject</label>: <div class="btn btn-link" (click)="openDonatePage()" l10nTranslate>pageDonate</div>

    </div>
</div>
<br>