<h1 l10nTranslate>newFeedback</h1>

<div *ngIf="errorMessage != null" class="alert alert-danger" color="#ff0000"> {{ errorMessage }} </div>

<div class="card" *ngIf="sendedFeedback" class="alert alert-success">
  Thanks for your feedback! 
  <div class="btn btn-primary" (click)="sendNewFeedback()">Write new feedback</div>
</div>

<mat-card *ngIf="!sendedFeedback">
  <form class="feedback-card">
    <mat-form-field appearance="fill" class="feedback-field">
      <mat-label l10nTranslate>feedbackTarget</mat-label>
      <mat-select #feedbackTarget [(value)]="_feedbackTarget">
        <mat-option value="question" selected l10nTranslate>feedbackTargetQuestion</mat-option>
        <mat-option value="complaint" l10nTranslate>feedbackTargetComplaint</mat-option>
        <mat-option value="defect" l10nTranslate>feedbackTargetDefect</mat-option>
        <mat-option value="error" l10nTranslate>feedbackTargetError</mat-option>
        <mat-option value="approval" l10nTranslate>feedbackTargetApproval</mat-option>
        <mat-option value="proposal" l10nTranslate>feedbackTargetProposal</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="feedback-field">
      <mat-label l10nTranslate>feedbackFrom</mat-label>
      <input matInput type="email" #feedbackFrom value="{{ _fhq.userdata.email ? _fhq.userdata.email : '' }}" [readonly]="_fhq.isAuthorized">
    </mat-form-field>

    <mat-form-field class="feedback-field-w100">
      <mat-label l10nTranslate>feedbackMessage</mat-label>
      <textarea matInput #feedbackMessage style="height: 120px"></textarea>
    </mat-form-field>
  </form>
  <button mat-raised-button color="warn" (click)="sendFeedback()" l10nTranslate>send</button>
</mat-card>