<div class="chat-messages-table">
  <div class="chat-messages-table-row">
    <div class="chat-messages-table-column-user-list">
      Users:
      TODO
    </div>
    <div class="chat-messages-table-column-user-messages">
      <div #chatMessages class="chat-messages">
        <div *ngFor="let d of dataList">
          <div class="chat-message">
            <div class="chat-message-dt">{{ d.dt }} (UTC)</div>
            <strong>{{ d.user }}</strong>: {{ d.message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-messages-table-row">
    <div class="chat-messages-table-column-user-list">
    </div>
    <div class="chat-messages-table-column-user-messages">
      <form class="send-message-chat-form" *ngIf="_fhq.isAuthorized">
        <mat-form-field class="send-message-chat-full-width">
          <mat-label l10nTranslate>yourMessage</mat-label>
          <input matInput #yourMessage (keyup.enter)="sendMessage()" value="">
        </mat-form-field>
      </form>
    </div>
  </div>
</div>

 
<div class="alert alert-danger" *ngIf="!_fhq.isAuthorized">
  <label l10nTranslate>pleaseAuthorize</label>
  <div class="btn btn-primary" (click)="_dialogs.openSignInDialog();" l10nTranslate>signin</div>
</div>

<div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>



