<h1 l10nTranslate>pageWelcome</h1>
<p><a routerLink="/about" l10nTranslate>pageAbout</a></p>

<p l10nTranslate>pageWelcomeAbout</p>

<div class="d-inline-block" l10nTranslate>pageWelcomeFirstTime</div> <a routerLink="/quests" l10nTranslate>quests</a>
<br/><br/>


<p>Also you can propose your quests (or from another games) <a routerLink="/quest-proposal" l10nTranslate>proposalQuest</a></p>

<p>We have a public <a routerLink="/chat" l10nTranslate>chatPage</a></p>

<p>All event printed here <a routerLink="/news" l10nTranslate>news</a></p>

<p>Also we have a some <a routerLink="/knowledge-base" l10nTranslate>knowledgeBase</a> (need your help for correct and fix errors in this base)</p>

<p>Training service: <a routerLink="/automation-ussr" l10nTranslate>automationUssr</a></p>

<p><a routerLink="/feedback" l10nTranslate>newFeedback</a></p>

<p><a routerLink="/donate" l10nTranslate>pageDonate</a></p>