
<nav aria-label="breadcrumb" *ngIf="errorMessage == null">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/quests" l10nTranslate>quests</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ subject }} ({{ count }} quests)
    </li>
  </ol>
</nav>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 quests-by-subject-table">
  <ng-container matColumnDef="usefulLinkData">
    <th mat-header-cell *matHeaderCellDef l10nTranslate>#</th>
    <td mat-cell *matCellDef="let element">
      [quest#{{ element.id }}]
    </td>
  </ng-container>
  <ng-container matColumnDef="questScore">
    <th mat-header-cell *matHeaderCellDef l10nTranslate>Score</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon aria-hidden="false" *ngIf="element.status == 'completed'" aria-label="Example home icon">done_all</mat-icon>
      <strong>{{ element.subject }} +{{ element.score }}</strong>
    </td>
  </ng-container>

  <ng-container matColumnDef="questName">
    <th mat-header-cell *matHeaderCellDef l10nTranslate>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="questSolved">
    <th mat-header-cell *matHeaderCellDef l10nTranslate>Solved</th>
    <td mat-cell *matCellDef="let element">
      {{ element.solved }} user(s)
    </td>
  </ng-container>

  <ng-container matColumnDef="questStatus">
    <th mat-header-cell *matHeaderCellDef l10nTranslate>Status</th>
    <td mat-cell *matCellDef="let element">
      {{ element.status }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    class="quests-by-subject-row" 
    [ngClass]="{'quests-by-subject-row-completed': row.status == 'completed' }"
    routerLink="/quest/{{ row.id }}"
  ></tr>
</table>

<br/>
<br/>

<button class="btn btn-secondary" routerLink="/quest-proposal" l10nTranslate>proposalQuest</button>
<br>
<br>