<div class="card" *ngIf="userId != 0">
  <div class="card-header" l10nTranslate>changePassword</div>
  <div class="card-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" l10nTranslate>oldPassword</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" value="" #userOldPassword />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" l10nTranslate>newPassword</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" value="" #userNewPassword />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <div class="btn btn-danger" (click)="doChangePassword()" l10nTranslate>changePassword</div>
        <div class="alert alert-danger" *ngIf="resultOfChangePassword != null">{{ resultOfChangePassword }}</div>
      </div>
    </div>
  </div>
</div>
