.mat-column-name {
    width: 170px;
}

table {
    width: calc(100% - 40px);
    margin: 20px;
}

.useful-links-favorite-btn {
    margin-left: 10px;
}

.mat-column-listOfFavoriteLinks {
    padding: 20px;
}