
<mat-list class="user-profile-menu-sidenav" *ngIf="userRole == 'user' || userRole == 'admin'">
  <mat-list-item>
    <button routerLink="/user-profile"
      *ngIf="userRole == 'user' || userRole == 'admin'"
      [disabled]="urlPath === 'user-profile' ? '' : null"
      mat-raised-button
      class="user-profile-menu-btn"
      l10nTranslate>profile
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button routerLink="/user-security"
      *ngIf="userRole == 'user' || userRole == 'admin'"
      mat-raised-button
      [disabled]="urlPath === 'user-security' ? '' : null"
      class="user-profile-menu-btn"
      l10nTranslate>
      security
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button routerLink="/user-tokens"
      *ngIf="userRole == 'user' || userRole == 'admin'"
      mat-raised-button
      [disabled]="urlPath === 'user-tokens' ? '' : null"
      class="user-profile-menu-btn"
      l10nTranslate>
      user-tokens
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button routerLink="/user-skills"
      *ngIf="userRole == 'user' || userRole == 'admin'"
      mat-raised-button
      [disabled]="urlPath === 'user-skills' ? '' : null"
      class="user-profile-menu-btn"
      l10nTranslate>
      skills
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button routerLink="/user-favorites-useful-links"
      *ngIf="userRole == 'user' || userRole == 'admin'"
      [disabled]="urlPath === 'user-favorites-useful-links' ? '' : null"
      mat-raised-button
      class="user-profile-menu-btn"
      l10nTranslate>
      myFavoritesUsefulLinks
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button (click)="userSignout()"
      *ngIf="userRole == 'user' || userRole == 'admin'"
      mat-raised-button
      class="user-profile-menu-btn"
      color="warn"
      l10nTranslate>
        signout
    </button>
  </mat-list-item>
</mat-list>