<div class="user-profile-menu-sidenav">
  <button routerLink="/user-profile"
    *ngIf="userRole == 'user' || userRole == 'admin'"
    mat-raised-button
    l10nTranslate>
    profile
  </button>
  <br/><br/>
  <button routerLink="/user-security"
    *ngIf="userRole == 'user' || userRole == 'admin'"
    mat-raised-button
    l10nTranslate>
    security
  </button>
  <br/><br/>
  <button routerLink="/user-tokens"
    *ngIf="userRole == 'user' || userRole == 'admin'"
    mat-raised-button
    l10nTranslate>
    user-tokens
  </button>
  <br/><br/>
  <button routerLink="/user-skills"
    *ngIf="userRole == 'user' || userRole == 'admin'"
    mat-raised-button
    l10nTranslate>
    skills
  </button>
  <br/><br/>
  <button routerLink="/user-favorites-useful-links"
    *ngIf="userRole == 'user' || userRole == 'admin'"
    mat-raised-button
    l10nTranslate>
    myFavoritesUsefulLinks
  </button>
  <br/><br/>
  <button (click)="userSignout()"
    *ngIf="userRole == 'user' || userRole == 'admin'"
    mat-raised-button
    color="warn"
    l10nTranslate>
      signout
  </button>
</div>