<div class="list-group">
  <a routerLink="/user-profile" 
    *ngIf="userRole == 'user' || userRole == 'admin'"
    href="#" class="list-group-item list-group-item-action" l10nTranslate>profile</a>
  <a routerLink="/user-security" 
    *ngIf="userRole == 'user' || userRole == 'admin'" 
    href="#" class="list-group-item list-group-item-action" l10nTranslate>security</a>
  <a routerLink="/user-skills"
    *ngIf="userRole == 'user' || userRole == 'admin'" 
    href="#" class="list-group-item list-group-item-action" l10nTranslate>skills</a>
  <!-- a routerLink="/user-sessions" href="#" class="list-group-item list-group-item-action" l10nTranslate>sessions</a -->
  <a href="/admin/" *ngIf="userRole == 'admin'" class="list-group-item list-group-item-action" l10nTranslate>adminPanel</a>
</div>
