<h1 l10nTranslate>user-tokens</h1>

<div class="row">
  <div class="col-lg-2">
    <app-user-profile-menu></app-user-profile-menu>
  </div>
  <div class="col-lg-10">
    <div class="card" *ngIf="userId != 0">
        <div class="card-header" l10nTranslate>Token</div>
        <div class="card-body">
          <table class="table">
            <tr>
              <th>ID</th>
              <th>Token</th>
              <th>Status</th>
              <th>Start date</th>
              <th>End date</th>
            </tr>
            <tr *ngFor="let tkn of listOfTokens">
              <td>#{{ tkn.id }}</td>
              <td>{{ tkn.token }}</td>
              <td>{{ tkn.status }}</td>
              <td>{{ tkn.start_date }}</td>
              <td>{{ tkn.end_date }}</td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>
