<h1 l10nTranslate>news</h1>

<mat-form-field class="news-search-form-field">
  <input
    matInput
    type="text"
    placeholder="Search"
    [(ngModel)]="searchValue"
    [formControl]="searchControl"
    [value]="searchValue"
  >
  <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-paginator #paginator
  class="news-paginator-field"
  [length]="length"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="pageEvent = getServerData($event)"
>
</mat-paginator>


<table class="table">
  <tbody>
    <tr *ngFor="let n of dataList">
      <td width=60px>
        <img width=50px height=50px src="assets/img/event_{{ n.type }}.png">
      </td>
      <td>
        <small>{{ n.dt_formated | date:'EEEE, d MMM y, HH:mm:ss' }}</small><br>
        <strong [innerHTML]="n.html_message"></strong>
      </td>
    </tr>
  </tbody>
</table>