<h1 l10nTranslate>knowledgeBase</h1>

<div class="alert alert-danger" *ngIf="errorMessage!=null">
  {{ errorMessage }}
  <div class="btn btn-link" (click)="openArticle(0)">Try Open Root Article</div>
</div>

<div *ngIf="errorMessage==null">
  <div class="d-inline-block" *ngFor="let p of articleParents">
    <div class="d-inline-block" *ngIf="p.classbookid == 0">
      <div class="btn btn-link" (click)="openArticle(p.classbookid)">{{ p.name }}</div>
    </div>
    <div class="d-inline-block" *ngIf="p.classbookid > 0 && p.classbookid != classbookId">
      >> <div class="btn btn-link" (click)="openArticle(p.classbookid)">#{{ p.classbookid}} {{ p.name }}</div>
    </div>
    <div class="d-inline-block" *ngIf="p.classbookid == classbookId">
        >> <strong>#{{ p.classbookid}} {{ p.name }}</strong>
    </div>
  </div>
  <hr>
  <h3>{{ articleName }}</h3>
  <div *ngIf="articleChilds.length > 0"> 
    Sub-articles:
    <ul>
      <li *ngFor="let c of articleChilds">
        <div class="btn btn-link" (click)="openArticle(c.classbookid)">#{{ c.classbookid }} {{ c.name }}</div>
      </li>
    </ul>
  </div>
  <hr>
  <div [innerHtml]="articleContent"></div>
</div>