<h1 l10nTranslate>knowledgeBase</h1>

<div class="alert alert-danger" *ngIf="errorMessage != null">
  {{ errorMessage }}
  <div class="btn btn-link" (click)="openArticle(0)">Try Open Root Article</div>
</div>

<nav aria-label="breadcrumb" *ngIf="errorMessage == null">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let p of articleParents; let isCurrent = last" [class.active]="isCurrent">
      <a routerLink="" (click)="openArticle(p.classbookid)" *ngIf="p.classbookid == 0">{{ p.name }}</a>
      <a routerLink="" (click)="openArticle(p.classbookid)" *ngIf="p.classbookid > 0 && p.classbookid != classbookId">#{{ p.classbookid}} {{ p.name }}</a>
      <a class="active" aria-current="page" (click)="openArticle(p.classbookid)" *ngIf="p.classbookid == classbookId">#{{ p.classbookid}} {{ p.name }}</a>
    </li>
  </ol>
</nav>

<div *ngIf="errorMessage == null">
  <hr>
  <h3>{{ articleName }}</h3>
  <div *ngIf="articleChilds.length > 0">
    Sub-articles:
    <ul>
      <li *ngFor="let c of articleChilds">
        <button type="button" class="btn btn-link" (click)="openArticle(c.classbookid)">
            #{{ c.classbookid }} {{ c.name }}  <span class="badge badge-info" *ngIf="c.childs > 0">have {{ c.childs }} child(s)</span>
        </button>
      </li>
    </ul>
  </div>
  <hr>

  <ngx-md [data]="articleContentNaked"></ngx-md>


  <!-- or use angular component -->
</div>

<br>
<br>
