<mat-drawer-container
  class="main-container"
  [hasBackdrop]="mobileQuery.matches ? true : false"
>
  <mat-drawer 
    mode="side" 
    class="main-left-menu" 
    #leftMenu
    [mode]="mobileQuery.matches ? 'over' : 'side'"
    [opened]="mobileQuery.matches ? null : ''"
  >
    <mat-list>
      <!-- user menu -->
      <mat-list-item *ngIf="!_fhq.isAuthorized">
        <button mat-raised-button color="primary" class="main-left-menu-item" 
          (click)="_dialogs.openSignInDialog();" l10nTranslate>signin</button>
      </mat-list-item>
      
      <mat-list-item *ngIf="_fhq.isAuthorized">
        <button mat-button (click)="toggleUserProfileMenu()" class="main-left-menu-item">
          <mat-icon>
            {{ !profileMenuExpanded ? 'keyboard_arrow_right' : 'keyboard_arrow_down' }}
          </mat-icon>
            <img class="user-logo" src="../{{ _fhq.userdata.logo }}">
            {{ _fhq.userdata.nick }}
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="_fhq.isAuthorized && profileMenuExpanded">
        <button routerLink="/user-profile"
          *ngIf="userRole == 'user' || userRole == 'admin'"
          [disabled]="urlPath === 'user-profile' ? '' : null"
          mat-raised-button
          class="main-left-menu-item"
          l10nTranslate>profile
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="_fhq.isAuthorized && profileMenuExpanded">
        <a href="/admin/"
          *ngIf="userRole == 'admin'"
          mat-raised-button
          [disabled]="urlPath === 'user-tokens' ? '' : null"
          class="main-left-menu-item"
          l10nTranslate>
          administration-panel
        </a>
      </mat-list-item>
      <mat-list-item *ngIf="_fhq.isAuthorized && profileMenuExpanded">
        <button routerLink="/user-security"
          *ngIf="userRole == 'user' || userRole == 'admin'"
          mat-raised-button
          class="main-left-menu-item"
          [disabled]="urlPath === 'user-security' ? '' : null"
          l10nTranslate>security</button>
      </mat-list-item>
      <mat-list-item *ngIf="_fhq.isAuthorized && profileMenuExpanded">
        <button routerLink="/user-tokens"
          *ngIf="userRole == 'user' || userRole == 'admin'"
          mat-raised-button
          [disabled]="urlPath === 'user-tokens' ? '' : null"
          class="main-left-menu-item"
          l10nTranslate>
          user-tokens
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="_fhq.isAuthorized && profileMenuExpanded">
        <button routerLink="/user-skills"
          *ngIf="userRole == 'user' || userRole == 'admin'"
          mat-raised-button
          [disabled]="urlPath === 'user-skills' ? '' : null"
          class="main-left-menu-item"
          l10nTranslate>
          skills
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="_fhq.isAuthorized && profileMenuExpanded">
        <button routerLink="/user-favorites-useful-links"
          *ngIf="userRole == 'user' || userRole == 'admin'"
          [disabled]="urlPath === 'user-favorites-useful-links' ? '' : null"
          mat-raised-button
          class="main-left-menu-item"
          l10nTranslate>
          myFavoritesUsefulLinks
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="_fhq.isAuthorized && profileMenuExpanded">
        <button (click)="userSignout()"
          *ngIf="userRole == 'user' || userRole == 'admin'"
          mat-raised-button
          class="main-left-menu-item"
          color="warn"
          l10nTranslate>
            signout
        </button>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button 
          class="main-left-menu-item" 
          [disabled]="urlPath === 'quests' ? '' : null"
          routerLink="/quests" l10nTranslate>
          pageQuests
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button 
          class="main-left-menu-item"
          [disabled]="urlPath === 'scoreboard' ? '' : null"
          routerLink="/scoreboard" l10nTranslate>
          pageScoreboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button
          class="main-left-menu-item"
          [disabled]="urlPath === 'news' ? '' : null"
          routerLink="/news" l10nTranslate>
          pageNews
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a mat-button class="main-left-menu-item" routerLink="/" l10nTranslate> pageWelcome </a>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/about" l10nTranslate> pageAbout </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/donate" l10nTranslate> pageDonate </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/map-activity" l10nTranslate> mapActivity </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/chat" l10nTranslate> chatPage </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/automation-ussr" l10nTranslate> automationUssr </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/useful-links" l10nTranslate> usefulLinks </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/games" l10nTranslate> gamesListPage </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/ctf-attack-defence" l10nTranslate> pageJuryAttackDefence </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/knowledge-base" l10nTranslate> knowledgeBase </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/server-api"> FreeHackQuest API </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/ctf-wall"> CTF Wall </button>
      </mat-list-item>
      <!-- mat-list-item>
        <button mat-button class="main-left-menu-item" onclick="fhq.ui.playStopMusic()" routerLink="/server-api"> Play Sound </button>
      </mat-list-item -->
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/feedback" l10nTranslate>feedbackAdd</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button class="main-left-menu-item" routerLink="/quest-proposal" l10nTranslate>proposalQuest</button>
      </mat-list-item>
     </mat-list>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<div class="main-navbar">
  <mat-toolbar color="primary">
    <button 
      mat-icon-button
      [style.display]="mobileQuery.matches ? 'inline-block' : 'none'"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="leftMenu.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span *ngIf="!mobileQuery.matches" routerLink="/about">
      <img src="assets/img/fhq_2017_white.png" width="30" height="30">
      Free Hack Quest
    </span>
    <span class="main-navbar-spacer"></span>

    <span *ngIf="mobileQuery.matches" routerLink="/about">
      <img src="assets/img/fhq_2017_white.png" width="30" height="30">
      FHQ
    </span>

    <!-- div class="nav-link dropdown-toggle" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" style="cursor: pointer" aria-expanded="false">
      <img height=25px [src]="menuLangIcon"/>
    </div>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="">
      <div class="dropdown-item" *ngFor="let item of schema" style="cursor: pointer" (click)="setLocale(item.locale)">
        <img height=25px src="assets/img/lang_{{ item.locale.language }}.png"> {{ item.text }}
      </div>
    </div -->
    
    <mat-select #controlLanguage class="menu-lang-item"
      [(value)]="selectedLocale"
      (selectionChange)="selectedLanguage($event.value)"
      [compareWith]="languageCompareWith"
    >
      <mat-select-trigger>
        <span class="flag-icon flag-icon-{{ localeCountyFlag[selectedLocale.language] }}"> </span>
      </mat-select-trigger>
      <mat-option *ngFor="let item of schema" [value]="item.locale">
        <span class="flag-icon flag-icon-{{ localeCountyFlag[item.locale.language] }}"></span>
          {{ item.text }}
      </mat-option>
    </mat-select>


    <!--
    <button
      mat-icon-button 
      class="example-icon favorite-icon" 
      aria-label="Example icon-button with heart icon"
      *ngIf="!mobileQuery.matches"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button 
      mat-icon-button
      class="example-icon" 
      aria-label="Example icon-button with share icon"
      *ngIf="!mobileQuery.matches"
    >
      <mat-icon>share</mat-icon>
    </button>
    -->
  </mat-toolbar>
</div>

<footer class="page-footer font-small bg-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
            <!-- Content -->
            <h5 class="text-uppercase">Free Hack Quest</h5>
            <p>This is an open source platform for competitions of computer security.</p>

            <div style="display: inline-block;">
              <div style="display: inline-block;" l10nTranslate>feelFreeToContactUsByEmail</div>
              <a href="mailto:freehackquest@gmail.com">freehackquest@gmail.com</a>
            </div>
            <p>{{ serverAppName }}: {{ serverAppVersion }} ( lib {{ libVersion }} )
            <p>Connection State: {{ _fhq.connectionState }}</p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a routerLink="/about" l10nTranslate>pageAbout</a>
              </li>
              <li>
                <a routerLink="/quests" l10nTranslate>pageQuests</a>
              </li>
              <li>
                <a routerLink="/news" l10nTranslate>news</a>
              </li>
              <li>
                <a routerLink="/feedback" l10nTranslate>feedbackAdd</a>
              </li>
              <li>
                <a routerLink="/donate" l10nTranslate>pageDonate</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">SOCIAL</h5>

            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/freehackquest/fhq-server">GitHub</a>
              </li>
              <li>
                <a href="https://telegram.me/freehackquest">Telegram</a>
              </li>
              <li>
                <a href="https://twitter.com/freehackquest/">Twitter</a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCS0nOltkP5YXxWggoNVE3Gw/videos?view_as=subscriber">Youtube</a>
              </li>
              <li>
                <a href="https://hub.docker.com/r/freehackquest/fhq-server">Docker</a>
              </li>
              <li>
                <a href="https://vk.com/freehackquest">VKontakte</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2011-2021 Copyright:
        <a href="https://sea-kg.com/">sea-kg</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->