# fhq-server config

## Database Configuration
usemysql=yes
dbhost=localhost
dbport=3306
dbname=fhq
dbuser=fhq_u
dbpass=fhq_pwd_db

## Server configurations
port = 1234
ssl_on = no
ssl_port = 4613
ssl_key_file = /etc/ssl/private/localhost.key
ssl_cert_file = /etc/ssl/certs/localhost.pem
