#!/usr/bin/make -f

BUILDDIR = build_dir

# secondly called by launchpad
build:
	mkdir $(BUILDDIR);
	cd $(BUILDDIR); cmake -DCMAKE_INSTALL_PREFIX=../debian/tmp/usr ..
	make -C $(BUILDDIR)

# thirdly called by launchpad
binary: binary-indep binary-arch

binary-indep:
	# nothing to be done

binary-arch:
	cd $(BUILDDIR); cmake -P cmake_install.cmake
	mkdir debian/tmp/DEBIAN
	mkdir -p debian/tmp/etc/fhq-server
	mkdir -p debian/tmp/etc/systemd/system
	mkdir -p debian/tmp/var/log/fhq-server
	mkdir -p debian/tmp/usr/share/fhq-server
	pwd
	cp install_files/fhq-server.conf.sample debian/tmp/etc/fhq-server/fhq-server.conf
	cp install_files/fhq-server.service debian/tmp/etc/systemd/system
	cp install_files/fhq-server.postinst debian/tmp/DEBIAN/postinst
	cp install_files/fhq-server.config debian/tmp/DEBIAN/config
	dpkg-gencontrol -pfhq-server
	dpkg --build debian/tmp ..

# firstly called by launchpad
clean:
	rm -f build
	rm -rf $(BUILDDIR)

.PHONY: binary binary-arch binary-indep clean
