.useful-link-view-comment-card {
    margin-top: 20px;
}

.useful-link-view-leave-comment-form {
    margin-top: 20px;
    width: 100%;
}

.useful-link-view-leave-comment-form-width {
    width: 100%;
}

.useful-link-view-comment-user-logo {
    background-size: 40px 40px;
}